<app-header></app-header>
<main>
  <section class="sobre-section">
    <h1>Sobre Mim</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna arcu, ullamcorper vel pharetra sed,
      consectetur ac nisl. Donec interdum, urna non venenatis ultricies, magna dui aliquam lorem, a mollis mauris est
      nec sem. Ut a lacus at nisl finibus molestie. Suspendisse potenti. Etiam ut sem vitae ipsum hendrerit mattis.
      Morbi euismod cursus erat a porta. Sed dui lectus, rhoncus eu tristique et, vehicula in enim. Suspendisse bibendum
      porta dolor, et maximus eros vehicula quis. Vestibulum elementum velit sit amet sollicitudin eleifend. Sed quis
      odio nec nisl euismod bibendum faucibus sed augue. Suspendisse leo nisi, porta interdum massa sed, bibendum
      interdum mauris. Proin quis ex non libero facilisis faucibus. Maecenas rutrum ornare augue, eget commodo velit
      semper quis. Cras volutpat porttitor ex, eget hendrerit nunc. Nam vel mauris nibh.

      Morbi orci diam, accumsan sed viverra nec, tempor eget dui. Morbi hendrerit est at mollis dignissim. Phasellus
      ligula ex, posuere vel enim non, sagittis accumsan erat. Phasellus sed venenatis tortor. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eros odio, vehicula non risus ac,
      tincidunt dignissim lorem. Aenean egestas nulla id enim posuere, nec semper urna egestas. Proin faucibus, sapien
      vitae vehicula tincidunt, nibh leo ornare odio, a ornare neque sem a nulla. Nulla ut efficitur justo, id dignissim
      ex. Aliquam erat volutpat. Nulla at tortor erat. Fusce cursus elit quis risus vestibulum, quis eleifend velit
      imperdiet. Donec ut quam risus. Morbi aliquam sem non metus porttitor, id posuere urna dignissim. Donec eu magna
      et orci luctus molestie eu in erat.
    </p>
  </section>

</main>
